**/.DS_Store
**/venv/
**/__pycache__
**/*.hdf
**/*.pt
**/*.zip
**/wandb/
**/obsolete/
miscellaneous/
data/
examples/
prediction/
weights/
temp/
tmp/
checkpoints/
models/
model_spectra/prosit_*
model_spectra/transformer_*
model_spectra/model_*/
prosit_model/model_spectra/
cospred_model/checkpoints*

